@model List<Employee>
<p>Employee Info</p>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Department</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var employee in Model)
		{
			<tr>
				<th>
					@employee.empId
				</th>
				<th>
					@employee.name
				</th>
				<th>
					@employee.department
				</th>
			</tr>
		}
		</tbody>
	</table>
